body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #1f242d;
}

.center {
    text-align: center;
}

.download-btn {
    display: flex;
    width: 19rem; 
    height: 5rem;
    font-size: 36px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.download-btn:hover {
    background-color: #45a049;
}
